.test {
    
    border: 3px solid black;
    height: 80%;
}


.gameArea {
    
    text-align: center;    
    height: 80%;

}

.text {
    
    
}

#musicControl{
    
    padding-top:20px;
}

.musicButton{
    width:100%;
}

.accordionImg{
    
    width:20%;
    height:20%;
}


#accordion .ui-icon { display: none; }
#accordion .ui-accordion-header a { padding-left: 0; }

body{
    background-color:#D2D7D3;
}