.test {
    
    border: 3px solid black;
    height: 80%;
}


.gameArea {
    
    text-align: center;    
    height: 80%;

}

.text {
    
    
}



.accordionImg{
    
    width:20%;
    height:20%;
}

#accordion .ui-icon { display: none; }
#accordion .ui-accordion-header a { padding-left: 0; }